#A{
  color: yellow;
  background:blue;
  padding:20px;
  margin-bottom:5px;
}
#B{
 color: yellow;
  background:green;
  padding:20px;
  margin-bottom:5px;
}
#C{
 color: yellow;
  background:gray;
  padding:20px;
  margin-bottom:5px;
}
#D{
 color: yellow;
  background:teal;
  padding:20px;
  margin-bottom:5px;
}
#E{
 color: yellow;
  background:black;
  padding:20px;
  margin-bottom:5px;
}
