#A{
  color: yellow;
  background:blue;
  padding:20px;
  margin-bottom:5px;
}
#B{
 color: yellow;
  background:green;
  padding:20px;
  margin-bottom:5px;
}
#C{
 color: yellow;
  background:gray;
  padding:20px;
  margin-bottom:5px;
}
#D{
 color: yellow;
  background:teal;
  padding:20px;
  margin-bottom:5px;
}
#E{
 color: yellow;
  background:black;
  padding:20px;
  margin-bottom:5px;
}


.square{
width: 10px;
height: 10px;
background-color: rgb(0, 0, 255);
border: 5px solid black;
float: left;
margin: 3px;
}
.green{
background-color: green;
}